data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/raw/gdsc/

models/checkpoints/*.ckpt
!models/checkpoints/.gitkeep

assets/results/**/*.png
assets/results/**/*.pdf
!assets/results/**/.gitkeep

__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
venv/
.venv/

.DS_Store
Thumbs.db
